.picker-container {
  z-index: 10001;
  width: 100%;
}

.picker-inner {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  -webkit-mask-box-image: linear-gradient(
    to bottom,
    transparent 0% 24px,
    white 96px 125px,
    transparent 197px 100%
  );
}

.picker-column {
  flex: 1 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  text-align: center;
}

.picker-scroller {
  transition: 300ms;
  transition-timing-function: ease-out;
}

.picker-item {
  font-size: 14px;
  position: relative;
  padding: 9.5px 10px;
  color: #888888;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  white-space: nowrap;
  text-align: center;
}

.picker-item-selected {
  color: #323232;
}

.picker-highlight {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: -1;
  pointer-events: none;
  background-color: #eeeeee;
  border-radius: 6px;
}

div:focus > .picker-highlight {
  box-shadow: inset 0 0 0 1px #6e3678;
}

:focus-visible {
  outline: none;
}
