.userInfoBox{
    display:flex;
    flex-direction: column;
}
.flexLine1{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profileImage{
    display: flex;
    align-items: center;
    align-content: center;
    margin-right: 20px;
}
.nickname{
    font-size: 16pt;
    font-weight: bold;
}
.flexLine2{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}
.profileTag{
    color: #9B9B9B;
    padding-right: 10px;
}
.myPageMenu{
    display: flex;
    flex-direction: row;
    margin-left: 4px;
    align-items: center;
}
.myPageMenu.myPageMenu{
    margin-top: 30px;
}
.myPageMenu:first-child{
    margin-top: 4px;
}
.myPageMenu:hover{
    cursor: pointer;
    /* background-color: #EEEEEE; */
}