.userInfoBox {
  display: flex;
  flex-direction: column;
  margin-top: -8px;
}
.flexLine1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
}
.flexLine2 {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
}
.profileImage {
  display: flex;
  align-items: center;
  align-content: center;
  margin-right: 12px;
}
.nickname {
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0.15rem;
}
.profileTag {
  color: #888888;
  padding-right: 10px;
}
.myPageMenuList{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 96px;
}
.myPageMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.myPageMenu:hover {
  cursor: pointer;
}
