.subCategoryTitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;

  /* Purple */
  color: #6e3678;

  margin-top: 1px;
}

.dashedLine {
  height: 1px;
  background-image: linear-gradient(
    to right,
    #c8c8c8 50%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 15px 1px;
  background-repeat: repeat-x;
}

.roomInfo1 {
  margin-bottom: 5px;

  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 9px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: #888888;
}

.roomInfo2 {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.03em;
}

.participantsImage {
  width: 21px;
  height: 21px;
  border-radius: 10.5px;
  background: #c4c4c4;
  margin-right: 4px;
}

.participantsNickname {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 6px 3px;

  background: #eeeeee;
  border-radius: 6px;

  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;

  color: #888888;
}

.chatTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;

  background: #6e3678;

  color: #ffffff;

  box-shadow: 0px 3px 4px -2px rgba(110, 54, 120, 0.04),
    0px 3px 3px -2px rgba(110, 54, 120, 0.02),
    0px 1px 8px -2px rgba(110, 54, 120, 0.1);
}

.chatRoomInfo {
  margin-left: 20px;
}

.chatBottom {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 11px;

  box-shadow: 0px -3px 4px -2px rgba(110, 54, 120, 0.04),
    0px -3px 3px -2px rgba(110, 54, 120, 0.02),
    0px -1px 8px -2px rgba(110, 54, 120, 0.1);
}

.chattingInput {
  width: 75%;
  background: #eeeeee;
  box-shadow: inset 1px 1px 2.5px -1px rgba(0, 0, 0, 0.075);
  border-radius: 8px;
  padding: 7px 10px;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  letter-spacing: 0.05em;

  color: #888888;
}
