.c2023fallevent-randombox {
  position: relative;
  width: 1rem;
  height: 1rem;
  transform-style: preserve-3d;
  transform: rotateX(-25deg) rotateY(-25deg);
}

.c2023fallevent-randombox-side {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform-style: preserve-3d;
  /* border: 0.01rem solid rgba(60, 40, 60, 0.65); */
  /* background-image: url("https://png.pngtree.com/background/20220714/original/pngtree-new-year-s-red-gold-foil-blessing-background-picture-image_1602617.jpg"); */
  /* background-size: cover; */
  overflow: hidden;
}

.c2023fallevent-randombox-side span,
.c2023fallevent-randombox-side-top::after {
  -webkit-text-stroke: 0.03em #eee;
}

.c2023fallevent-randombox-side-front {
  flex-direction: column;
  align-items: initial;
  font-size: 0.25rem;
  transform: translateZ(0.5rem);
}

.c2023fallevent-randombox-side-front::before,
.c2023fallevent-randombox-side-front::after {
  position: absolute;
  /* font-size: 0.2rem; */
  min-width: 1.5em;
}

.c2023fallevent-randombox-side-front::before {
  transform: translateX(0.02rem) rotate(-20deg);
}

.c2023fallevent-randombox-side-front::after {
  transform: translateX(0.65rem) rotate(90deg);
}

.c2023fallevent-randombox-side-back {
  transform: rotateY(180deg) translateZ(0.5rem);
}

.c2023fallevent-randombox-side-left {
  transform: rotateY(-90deg) translateZ(0.5rem);
}

.c2023fallevent-randombox-side-right {
  transform: rotateY(90deg) translateZ(0.5rem);
}

.c2023fallevent-randombox-side-top {
  transform-origin: 0 0 0;
  transform: translateZ(-0.5rem) rotateX(90deg);
}

.c2023fallevent-randombox-side-top::before,
.c2023fallevent-randombox-side-top::after {
  position: absolute;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.c2023fallevent-randombox-side-top::before {
  font-size: 0.4rem;
}

.c2023fallevent-randombox-side-top::after {
  content: var(--boxInnerText);
  font-size: 0.35rem;
  transform-style: preserve-3d;
  transform: rotateY(180deg) rotateZ(180deg) translateZ(0.00001rem);
}

.c2023fallevent-randombox-side-bottom {
  transform: rotateX(-90deg) translateZ(0.5rem);
}

.c2023fallevent-emoji {
  position: absolute;
  font-size: 0.5rem;
  transform: translate(calc(0.5rem - 50%), 0rem);
}

/* Open Box States */

.c2023fallevent-randombox-open .c2023fallevent-randombox-side {
  cursor: auto;
}

.c2023fallevent-randombox-open .c2023fallevent-randombox-side-top {
  animation: openBox 1.2s ease-out forwards;
}

.c2023fallevent-randombox-open .c2023fallevent-emoji {
  animation: raiseEmoji 1s 1s ease-out forwards,
    rotateEmoji 3s 2s linear infinite;
}

/* Animations */

@keyframes openBox {
  100% {
    transform: translateZ(-0.5rem) rotateX(252deg);
  }
}

@keyframes raiseEmoji {
  100% {
    transform: translate(calc(0.5rem - 50%), -0.8rem);
  }
}

@keyframes rotateEmoji {
  0% {
    transform: translate(calc(0.5rem - 50%), -0.8rem) rotateY(0deg);
  }
  100% {
    transform: translate(calc(0.5rem - 50%), -0.8rem) rotateY(360deg);
  }
}
