#navigation{
    position: fixed; left: 0px; bottom: 0px;
    width: 100%;
    height: calc(60px + constant(safe-area-inset-bottom));
    height: calc(60px + env(safe-area-inset-bottom));
    background: white;
    border-top: 1px solid rgb(230,230,230);
}