@font-face {
  font-family: "TossFace";
  src: url("./static/fonts/TossFaceFontMac.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquare";
  src: local("NanumSquare"),
    url("./static/fonts/NanumSquare_acL.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "NanumSquare";
  src: local("NanumSquare"),
    url("./static/fonts/NanumSquare_acR.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "NanumSquare";
  src: local("NanumSquare"),
    url("./static/fonts/NanumSquare_acB.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "NanumSquare";
  src: local("NanumSquare"),
    url("./static/fonts/NanumSquare_acEB.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Galmuri11";
  src: local("Galmuri11"),
    url("./static/fonts/Galmuri11.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Galmuri11";
  src: local("Galmuri11"),
    url("./static/fonts/Galmuri11-Bold.ttf") format("truetype");
  font-weight: 700;
}
