* {
  margin: 0px;
  padding: 0px;
  font-family: "NanumSquare", "TossFace", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

div,
input {
  color: #323232;
  scrollbar-color: transparent transparent;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background: #faf8fb;
  -ms-overflow-style: none;
  touch-action: pan-y;
  user-select: none;
}

body::-webkit-scrollbar,
div:not(.chatting-body)::-webkit-scrollbar {
  display: none;
}

.chatting-body {
  scrollbar-color: auto;
}

b {
  font-weight: 700;
}

.selectable {
  user-select: text;
}

#root {
  width: 100%;
  height: 100%;
  position: relative;
}

input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
