.c2023fallevent-randombox {
  position: relative;
  width: 500px;
  height: 500px;
  transform-style: preserve-3d;
  will-change: transform;
}

.c2023fallevent-randombox-side {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  overflow: hidden;
  will-change: transform;
}

.c2023fallevent-randombox-side-front {
  transform: rotateX(-25deg) rotateY(-25deg) translateZ(250px);
}

.c2023fallevent-randombox-side-back {
  transform: rotateX(-25deg) rotateY(-25deg) rotateY(180deg) translateZ(250px);
}

.c2023fallevent-randombox-side-left {
  transform: rotateX(-25deg) rotateY(-25deg) rotateY(-90deg) translateZ(250px);
}

.c2023fallevent-randombox-side-right {
  transform: rotateX(-25deg) rotateY(-25deg) rotateY(90deg) translateZ(250px);
}

.c2023fallevent-randombox-side-top {
  transform-origin: 0px 0px 0px;
  top: -24px;
  left: 19px;
  transform: scale(1.02) rotateX(-25deg) rotateY(-25deg) translateZ(-250px)
    rotateX(90deg);
}

.c2023fallevent-emoji {
  position: absolute;
  font-size: 250px;
  transform: rotateX(-25deg) rotateY(-25deg) translate(calc(250px - 50%), 0rem);
}

/* Open Box States */

.c2023fallevent-randombox-open .c2023fallevent-randombox-side {
  cursor: auto;
}

.c2023fallevent-randombox-open .c2023fallevent-randombox-side-top {
  animation: openBox 14s ease-out forwards;
}

.c2023fallevent-randombox-open .c2023fallevent-emoji {
  animation: raiseEmoji 4s 4s ease-out forwards,
    rotateEmoji 5s 8s linear infinite;
}

/* Animations */

@keyframes openBox {
  20% {
    transform: rotateX(-25deg) rotateY(-25deg) translateZ(-250px) rotateX(95deg);
  }
  30% {
    transform: rotateX(-25deg) rotateY(-25deg) translateZ(-250px)
      rotateX(130deg);
  }
  100% {
    transform: rotateX(-25deg) rotateY(-25deg) translateZ(-250px)
      rotateX(252deg);
  }
}

@keyframes raiseEmoji {
  100% {
    transform: rotateX(-25deg) rotateY(-25deg)
      translate(calc(250px - 50%), -400px);
  }
}

@keyframes rotateEmoji {
  0% {
    transform: rotateX(-25deg) rotateY(-25deg)
      translate(calc(250px - 50%), -400px) rotateY(0deg);
  }
  100% {
    transform: rotateX(-25deg) rotateY(-25deg)
      translate(calc(250px - 50%), -400px) rotateY(360deg);
  }
}
