.chatMessagesBox {
  margin-top: 80px;
  margin-bottom: 80px;
  width: 100%;
  overflow: auto;
  /* height: 100%; */
}
.sideChatMessagesBox {
  margin-top: 64px;
  margin-bottom: 50px;
  width: 100%;
  overflow: auto;
  /* height: 100%; */
}
.MessagesBody-container {
  list-style: none;
}
/* chat Message */
.chatMessage-myMessage {
  justify-content: flex-start;
  display: flex;
  margin-bottom: 10px;
  margin-right: 15px;
  flex-direction: row-reverse;
}
.chatMessage-receivedMessage {
  justify-content: flex-start;
  display: flex;
  margin-bottom: 10px;
  flex-direction: row;
}

/* chat avatar */
.chatMessage-avatar-container {
  align-self: flex-start;
  margin-left: 25px;
}

.chatMessage-bodyContainer {
  max-width: 60%;
}
.chatMessage-bodyContainer-noProfile {
  max-width: 60%;
  margin-left: 57px;
}
.chatMessage-userName {
  margin-left: 10px;
  font-size: 0.75rem;
  color: rgb(138, 141, 145);
}
.chatMessage-body-mine {
  flex: 1;
  padding: 7px 12px 7px 12px;
  margin: 0px 5px;
  word-break: break-word;
  background-color: #6e3678;
  color: #ffffff;
  border-radius: 8px;
  font-size: 13px;
  letter-spacing: 0.05em;
}
.chatMessage-body-received {
  flex: 1;
  padding: 7px 12px 7px 12px;
  margin: 0px 5px;
  word-break: break-word;
  background-color: #ffffff;
  color: #323232;
  border-radius: 8px;
  font-size: 13px;
  letter-spacing: 0.05em;
  box-shadow: 0px 1.5px 1px -0.5px rgba(110, 54, 120, 0.04),
    0px 2.5px 1px -0.5px rgba(110, 54, 120, 0.02),
    0px 2px 3px -1px rgba(110, 54, 120, 0.1);
}
.chatMessage-date {
  font-family: Roboto;
  align-self: flex-end;
  color: #9b9b9b;
  font-size: 5px;
  letter-spacing: 0.03em;
}
.chatMessage-newDateLineContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
  margin-bottom: 17px;
}
.newDateLine {
  width: 40%;
  border: 0.5px dashed #c8c8c8;
}

.newDateText {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #888888;
}

.chatMessage-newUserComeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.chatMessage-newUserComeItem {
  padding: 3px 8px;
  background: #eeeeee;
  border-radius: 30px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;

  color: #888888;
}
