.MessageForm-container {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
}
.MessageForm {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 40px;
  background-color: white;
  display: flex;
  box-shadow: inset 1px 1px 2.5px -1px rgba(0, 0, 0, 0.075);
  align-items: center;
}

.MessageForm-input-field {
  flex-grow: 1;
  height: 28px;
  resize: none;
  border: none;
  margin-left: 44px;
  padding-left: 12px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;

  color: #888888;


  background: #EEEEEE;
  box-shadow: inset 1px 1px 2.5px -1px rgba(0, 0, 0, 0.075);
  border-radius: 8px;
}

.MessageForm-send-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}
