.newMessage {
  position: absolute;
  bottom: 0px;
  left: calc(50% - 65px);
  display: flex;
  flex-direction: row;
  gap: 4px;
  background: #ffffff;
  border: 0.5px solid #6e3678;
  box-shadow: 0px 2px 4px rgba(110, 54, 120, 0.2),
    0px 1px 18px rgba(110, 54, 120, 0.12), 0px 6px 10px rgba(110, 54, 120, 0.14);
  border-radius: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  padding: 7px 12px 7px 12px;
  width: 130px;
  line-height: 13px;
  justify-content: center;
  transition: 0.2s;
}

.newMessage.on {
  transform: translateY(-60px);
  opacity: 1;
}

.newMessage.off {
  transform: translateY(0px);
  opacity: 0;
}

.newMessage:hover {
  cursor: pointer;
}

.newMessage .arrow {
  transition: 0.2s;
}

.newMessage:hover .arrow {
  transform: rotate(180deg);
}
