.shadow::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  border-radius: 12px;
  box-shadow: 0px 2px 4px rgba(110, 54, 120, 0.2),
    0px 1px 18px rgba(110, 54, 120, 0.12), 0px 6px 10px rgba(110, 54, 120, 0.14);
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.shadow:hover::after {
  opacity: 1;
}
