* {
  margin: 0px;
  padding: 0px;
  font-family: "NanumSquare", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  -webkit-tap-highlight-color: transparent;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

div,
input {
  color: #323232;
  scrollbar-color: transparent transparent;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background: #faf8fb;
  -ms-overflow-style: none;
  touch-action: pan-y;
  /**
  * disable text selection
  * See the below page for later compatibility.
  * https://caniuse.com/?search=user-select%3A%20none
  */
  -webkit-touch-callout: none; /* IOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* Chrome, Edge, Opera, and Firefox */
}

body::-webkit-scrollbar,
div:not(.chatting-body)::-webkit-scrollbar {
  display: none;
}

.chatting-body {
  scrollbar-color: auto;
}

b {
  font-weight: 700;
}

.selectable {
  -webkit-touch-callout: default; /* IOS Safari */
  -moz-user-select: auto; /* Old versions of Firefox */
  -webkit-user-select: auto; /* Safari */
  -ms-user-select: auto; /* IE/Edge */
  user-select: auto; /* Chrome, Edge, Opera, and Firefox */
}

#root {
  width: 100%;
  height: 100%;
  position: relative;
}

input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
