* {
  margin: 0px;
  padding: 0px;
  font-family: "NanumSquare", sans-serif;
  font-weight: 300;
  letter-spacing: 0.05em;
  --purple: #6E3678;
}

div {
  color: #323232;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: #FAF8FB !important;
  -ms-overflow-style: none;
  touch-action: pan-y;
}

body::-webkit-scrollbar {
  display: none;
}

button {
  border: none;
  outline: none;
  background: none;
}

button:active {
  outline: none;
}

button:focus {
  outline: none;
}

#root {
  width: 100%;
  height: 100%;
  position: relative;
}

.BTNC {
  cursor: pointer;
}

.ND {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.BTM_EMPTY {
  width: 100%;
  height: 200px;
}