@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@font-face {
  font-family: "NanumSquare";
  src: local("NanumSquare"),
    url("./static/fonts/NanumSquare_acL.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "NanumSquare";
  src: local("NanumSquare"),
    url("./static/fonts/NanumSquare_acR.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "NanumSquare";
  src: local("NanumSquare"),
    url("./static/fonts/NanumSquare_acB.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "NanumSquare";
  src: local("NanumSquare"),
    url("./static/fonts/NanumSquare_acEB.ttf") format("truetype");
  font-weight: 900;
}
